#loading-box
  .loading-left-bg
  .loading-right-bg
  .spinner-box
    .loader
    .loading-word= _p('loading')

  //-
    .loader
    .loading-word= _p('loading')
    .configure-border-1
      .configure-core
    .configure-border-2
      .configure-core
    .loading-word= _p('loading')