:root{
    --link-bg: #edf0f7;
    --link-hover: rgba(73,177,245,0.7);
    --guole-none: rgba(0,0,0,0);
    --guole-main: #49b1f5;
    --twikoo-name-yy: #217aa0;
  }
  
[data-theme=light] {
    --card-bg: rgba(255,255,255,.9) !important; /* 全局背景调整 */
    --link-bg: rgba(237,240,247,0.46);
    --link-hover: rgba(73,177,245,0.7);
    --categoryBar-color: #fff; /* 首页磁贴颜色调整 */
    --categorybar-bg1: linear-gradient(to right,rgba(54, 79, 107, 0.9),rgba(63, 194, 201, 0.9));
    --categorybar-bg2: linear-gradient(to right,rgba(185, 82, 237, 0.9),rgba(255, 153, 253, 0.8));
    --categorybar-bg3: linear-gradient(to right,rgba(102, 57, 166, 0.8),rgba(52, 143, 222, 0.8));
    --categorybar-bg4: linear-gradient(to left,rgba(56, 239, 126, 0.9),rgba(17, 153, 142, 0.8));
    --categorybar-bg5: linear-gradient(to right,rgba(185, 29, 115, 0.8),rgba(249, 83, 199, 0.8));
    --categorybar-bg6: linear-gradient(to right,rgba(241, 39, 17, 0.8),rgba(245, 175, 25, 0.9));
    --moments-bg: #fefefe;
    --moments-hover: #daebf7;
    --tab-item-content-bg: #fbfbfb;
    --cp-playlist-bg: rgba(255,255,255,0.6);
    --cp-play-bg: #fff;
    --aplayer-lrc: #666;
    --pagination-bg: #00c4b6;
    --pagination-page: #fff;
    /*
    --twikoo-fs-bg: #74b8ff;
    --twikoo-fs: #f0f0f0;
    --twikoo-cd-bg: #f0f0f1;
    --twikoo-cd-bk: #dbdcde;
    --twikoo-yl-bg: #f7f7f8;
    --twikoo-yl-bk: #d6d7da;
    --twikoo-bv-bg: #ebf6e5;
    --twikoo-bv-bk: #a9dc8f;
    --twikoo-zd-bg: #fdecec;
    --twikoo-zd-bk: #f78c8c;
    */
    --guole-scrollbar: rgba(60, 60, 67, 0.4);
    --twikoo-p-bg: #edf0f7;
    --twikoo-name: #3ea2e4;
    --weibo-list-title: #4c4948;
    --code-bg: #f6f8fa;
    --code-bk: #e6ebf1;
  }

[data-theme=dark] {
    --card-bg: rgba(24, 29, 39, .75) !important;/* 全局卡片背景调整 */
    --global-bg: rgb(24,23,31) !important; /* 全局背景调整 */
    --btn-bg: #012c48 !important; /* 页面所有按钮夜间背景色 */
    --text-highlight-color: rgba(255, 255, 255, 0.8); /* 夜间页面大标题白色调整 */
    --categoryBar-color: rgba(255, 255, 255, 0.9); /* 首页磁贴颜色调整 */
    --link-bg: rgba(48, 59, 63, 0.5);
    --link-hover: rgba(34, 98, 140, 0.7);
    --btn-hover-color: rgba(41, 117, 167, 0.8);
    --categorybar-bg1: linear-gradient(to right,#364f6b,#3fc1c9);
    --categorybar-bg2: linear-gradient(to right,#ba52ed,#ff99fe);
    --categorybar-bg3: linear-gradient(to right,#6639a6,#3490de);
    --categorybar-bg4: linear-gradient(to left,#38ef7d,#11998e);
    --categorybar-bg5: linear-gradient(to right,#b91d73,#f953c6);
    --categorybar-bg6: linear-gradient(to right,#f12711,#f5af19);
    --moments-bg: #252c2f;
    --moments-hover: #204d6b;
    --moments-title-bg: #141c21;
    --tab-item-content-bg: #171d20;
    --cp-playlist-bg: #232323;
    --cp-play-bg: #101010;
    --aplayer-lrc: rgba(255,255,255,.8);
    --pagination-bg: #008077;
    --pagination-page: #1f2531;
    /*
    --twikoo-fs-bg: #29598a;
    --twikoo-fs: #cccccc;
    --twikoo-cd-bg: #2a2a2d;
    --twikoo-yl-bk: #404145;
    --twikoo-yl-bg: #222326;
    --twikoo-bv-bg: #253021;
    --twikoo-bv-bk: #46792d;
    --twikoo-zd-bg: #372628;
    --twikoo-zd-bk: #96494a;
    */
    --tab-botton-bg: #232829 !important;
    --tab-button-hover-bg: #182223 !important;
    --guole-scrollbar: rgba(200, 200, 223, 0.4);
    --twikoo-p-bg: #2c2c2c;
    --twikoo-name: #2182c1;
    --weibo-list-title: #99a9bf;
    --code-bg: #171717;
    --code-bk: #303030;
}
